{
  "presets": [
    "latest",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "transform-runtime",
    [
      "babel-plugin-root-import",
      [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "src/components"
        },
        {
          "rootPathPrefix": "@",
          "rootPathSuffix": "src"
        }
      ]
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
